.location {
    &__item {
        position: relative;
        height: 110px;
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 3px;
        background: url(/assets/img/bg/bg5.jpg) no-repeat center;
        background-size: cover;
    }
    
    &__pic {
        width: 150px;
        height: 100px;
        border-radius: 3px;
    }
    
    &__name {
        position: absolute;
        left: 170px;
        top: 10px;
        font-size: 16px;
        font-weight: 500;
    }
}
