.app {
    position: relative;
    width: 800px;
    height: 600px;
    margin: auto;
    overflow: hidden;
    background: #111 url(/assets/img/bg/bg1.jpg) no-repeat center;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
}