.nav {
    position: absolute;
    left: -82px;
    top: 200px;
    width: 130px;
    border-radius: 0 3px 3px 0;
    overflow: hidden;
    background-color: #fff;
    background: url(/assets/img/bg/bg2.png);
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    transition: left 0.25s;
    
    &:hover {
        left: 0;
    }
}

app-nav-item {
    &:not(:last-child) {
        display: block;
        border-bottom: 1px solid #bdbdbd;
    }
}