<div class="toolbar-wrap" *ngIf="userInfo && userSkills && userCurrency">
    <div class="toolbar">
        <div class="toolbar__section">
            <div class="toolbar__name">{{ userInfo.login }}</div>

            <div class="toolbar__xp-bar" matTooltip="Опыта до следующего уровня: {{ expDiff }}">
                <span class="toolbar__xp-diff" [ngStyle]="{'width': expBar + '%'}"></span>
            </div>

            <div class="toolbar__lvl">{{ userSkills.level }}ур.</div>
        </div>

        <div class="toolbar__section">
            <div class="toolbar__item">
                <icon class="toolbar__item-icon icon_knuckle" icon="knuckle" matTooltip="Опыт"></icon>
                <span class="toolbar__item-txt">{{ userSkills.experience }}</span>
            </div>

            <div class="toolbar__item">
                <icon class="toolbar__item-icon icon_energy" icon="energy" matTooltip="Энергия"></icon>
                <span class="toolbar__item-txt">{{ userSkills.energy }}/{{ userSkills.energyMax }}</span>
                <icon class="toolbar__plus" icon="plus" (click)="makeEnergy()"></icon>
            </div>
        </div>

        <div class="toolbar__section">
            <div class="toolbar__item">
                <icon class="toolbar__item-icon icon_silver" icon="silver" matTooltip="Серебро"></icon>
                <span class="toolbar__item-txt">{{ userCurrency.silver }}</span>
                <icon class="toolbar__plus" icon="plus"></icon>
            </div>
            <div class="toolbar__item">
                <icon class="toolbar__item-icon icon_gold" icon="gold" matTooltip="Золото"></icon>
                <span class="toolbar__item-txt">{{ userCurrency.gold }}</span>
                <icon class="toolbar__plus" icon="plus"></icon>
            </div>
        </div>

        <div class="toolbar__section">
            <div class="toolbar__item">
                <icon class="toolbar__item-icon icon_furs" icon="furs" matTooltip="Пушнина"></icon>
                <span class="toolbar__item-txt">{{ userCurrency.furs }}</span>
                <icon class="toolbar__plus" icon="plus"></icon>
            </div>
            <div class="toolbar__item">
                <icon class="toolbar__item-icon icon_diamond" icon="diamond" matTooltip="Алмазы"></icon>
                <span class="toolbar__item-txt">{{ userCurrency.diamond }}</span>
                <icon class="toolbar__plus" icon="plus"></icon>
            </div>
        </div>
    </div>
</div>