.modal-dialog {
    width: 300px;
    border-radius: 3px;
    background: url(/assets/img/bg/bg4.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 2px 2px 0 1px #8A6C52, 6px 6px 15px transparentize(#000, 0.25);
    
    &__title {
        position: relative;
        margin: 0 -7px 25px;
        padding: 15px 10px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.2;
        border-radius: 2px;
        box-shadow: 3px 3px 5px transparentize(#000, 0.25);
        text-shadow: 0 0 10px transparentize(#222, 0.75);
        background-color: #8A8D92;
        background: url(/assets/img/bg3.jpg);
        
        &:before,
        &:after {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: transparentize(#000, 0.25);
            box-shadow: 0 0 5px transparentize(#000, 0.25);
            content: '';
        }
        
        &:before {
            left: 10px;
        }
        
        &:after {
            right: 10px;
        }
    }
    
    &__txt {
        margin-top: 15px;
        padding: 0 15px;
        text-align: center;
        font-weight: 500;
        text-shadow: 0 0 10px transparentize(#222, 0.75);
    }
    
    &__img {
        position: relative;
        display: block;
        width: 150px;
        height: 150px;
        margin: auto;
        padding: 10px;
        font-size: 0;
        border-radius: 2px;
        box-shadow: 0 0 5px transparentize(#000, 0.25);
        background-color: #fff;
    }
    
    &__foot {
        padding-bottom: 24px;
    }
    
    &__btn {
        width: 140px;
        margin: auto;
    }
}
