@import 'assets/scss/normalize';
@import 'assets/scss/material-custom';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import 'assets/scss/scrollbar-custom';
@import '~@angular/material/_theming';



@include mat-core();

$primary: mat-palette($mat-blue-grey);
$accent:  mat-palette($mat-brown, 700, 100, 900);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
